<?xml version="1.0" encoding="UTF-8" ?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.alucas.snorlax"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:name="com.alucas.snorlax.app.SnorlaxApp"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/Snorlax"
		>

		<meta-data
			android:name="xposedmodule"
			android:value="true"
			/>
		<meta-data
			android:name="xposeddescription"
			android:value="@string/app_desc"
			/>
		<meta-data
			android:name="xposedminversion"
			android:value="53"
			/>

		<activity
			android:name="com.alucas.snorlax.app.home.HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/Snorlax.Activity"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<receiver
			android:name="com.alucas.snorlax.app.receiver.MapReceiver"
			android:enabled="true"
			tools:ignore="ExportedReceiver"
			>
			<intent-filter>
				<action android:name="com.alucas.snorlax.BROADCAST_MAP"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.alucas.snorlax.app.receiver.CollectDefenderReceiver"
			android:enabled="true"
			tools:ignore="ExportedReceiver"
			>
			<intent-filter>
				<action android:name="com.alucas.snorlax.BROADCAST_COLLECT_DEFENDER_BONUS"/>
			</intent-filter>
		</receiver>

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_key"
			/>

		<activity
			android:name=".app.home.ListPokemonInGymActivity"
			android:label="@string/title_activity_maps"
			>
		</activity>
	</application>

</manifest>
